@model Pagination.PageBase

@if (Model.TotalRecords > 0)
{
    <fieldset>
        <legend>Page info</legend>
        <div>Page index: @Model.PageIndex</div>
        <div>Page size: @Model.PageSize</div>
        <div>Total records: @Model.TotalRecords</div>
        <div>Total pages: @Model.PageCount</div>
        <hr />
        @using (Html.BeginForm("index", "home", FormMethod.Post))
        {
            <label>Page index: </label>@Html.TextBoxFor(m => m.PageIndex, Model.PageIndex)
            <label>Page size: </label>@Html.TextBoxFor(m => m.PageSize, Model.PageSize)
            @Html.HiddenFor(m => m.TotalRecords, Model.TotalRecords)
            @Html.HiddenFor(m => m.PageCount, Model.PageCount)
            <input type="submit" value="submit" />
        }
    </fieldset>
    

}
else
{
    <div># zero records - no pagination #</div>
}


